* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;

}

body{
    background-color: antiquewhite;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: inset;
}